.screen__trasactionList::-webkit-scrollbar {
    -webkit-appearance: none;
}
.screen__trasactionList::-webkit-scrollbar:vertical {
    width:10px;
}


.screen__trasactionList::-webkit-scrollbar-button:increment,.screen__trasactionList::-webkit-scrollbar-button {
    display: none;
} 

.screen__trasactionList::-webkit-scrollbar:horizontal {
    height: 10px;
}

.screen__trasactionList::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.screen__trasactionList::-webkit-scrollbar-track {
    border-radius: 10px;  
}

ol {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.screen__trasactionList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.card{
    display: grid;
}

.card__transaction {
    display: grid;
    width: 75%;
    min-width: 369px;
    height: 125px;
    background: linear-gradient(109.5deg, #7569FF -22.6%, #D869FF 118.85%);
    box-shadow: 0px 3.17984px 12.7194px rgba(134, 255, 240, 0.4);
    border-radius: 12.7194px;
    align-items: center;
    justify-items: center;
} 



.card__transaction {
    display: grid;
    grid-template-areas: 'US US OP OP I'
                         'US US DD DD I';
}

.card__transaction-edit {
    grid-area: I;
    cursor: pointer;
}

.card__transaction-amount {
    grid-area: US;
    padding: 10px;
    font-size: 40px;    
}

.card__transaction-category {
    grid-area: OP;
    font-size: 40px;
}

.card__transaction-date {
    grid-area: DD;
    font-size: 30px;
}

.editIcon {
    grid-area: I;
    cursor: pointer;
}