
body {
  display: flex;
  justify-content: center;
}

.App {
  display: grid;
  flex-direction: column;
  width: 428px;
  height: 926px;
  background: #2E3148;
  border-radius: 50px;
  align-items: end;
  justify-items: center;
  justify-content: center;
}

.cardBalance {
  display: grid;
  grid-template-rows: 1fr 1px 1fr;
  height: 189px;
  width: 347px;
  padding: 0 17px;
  background: #1B1D2F;
  color: white;
  border-radius: 15px;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.containerAvailable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerTipeOfData {
  display: flex;
  justify-content: space-around;
}

.line {
  background-color: rgba(255, 255, 255, 0.75);
}

.containerNumber {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
}

.cardData-text {
  padding-top: 10px;
}

.mainBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 428px;
  height: 80px;
  border-radius: 0 0 50px 50px;
  background: #1B1D2F;
  box-shadow: 0px -2px 25px rgba(0, 0, 0, 0.06);
}