
:root {
  --bottom-bg-colorPrimary: linear-gradient(109.5deg, #7569FF -22.6%, #D869FF 118.85%);
}

body {
  /* display: flex; */
  /* justify-content: center; */
}

.app{
  display: grid;
}

.layout {
  display: flex;
  flex-direction: column;
  grid-template-rows: 8fr 1fr;
  min-width: 400px;
  height: 100vh;
  background: #2E3148;
  border-radius: 50px;
}

.accountSumary {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  background: #2E3148;
  border-radius: 50px;
  justify-items: center;
}

.cardBalance {
  display: grid;
  grid-template-rows: 1fr 1px 1fr;
  height: 189px;
  width: 75%;
  padding: 0 17px;
  background: #1B1D2F;
  color: white;
  border-radius: 15px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.containerAvailable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerTipeOfData {
  display: flex;
  justify-content: space-around;
}

.line {
  background-color: #D869FF ;
}

.containerNumber {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
}

.cardData-text {
  padding-top: 10px;
}

.mainBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 0 0 50px 50px;
  background: #1B1D2F;
  box-shadow: 0px -2px 25px rgba(0, 0, 0, 0.06);
}

.active svg, .active .icon { 
  fill:  #bd00ff45;
  stroke: #D869FF;
}
